@use "include-media" as *;

.background {
  position: sticky;
  inset: 0;
  pointer-events: none;
}

.background-holder {
  position: relative;
  height: 100vh;
}

.page-background {
  position: absolute;
  inset: 0;
  background-position: top;
  background-size: cover;
  z-index: 2;

  &.grayscale {
    filter: grayscale(1) contrast(1) brightness(.5);
  }

  &.with-overlay::before {
    content: '';
    position: absolute;
    inset: 0;
    filter: contrast(170%) brightness(.14);
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-attachment: fixed;
    opacity: .5;
  }
}

.background-filter::before {
  content: '';
  position: absolute;
  inset: 0;
  filter: contrast(170%) brightness(.14);
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: .5;
}

.background-purple {
  background-color: var(--purple);

  .page-background {
    mix-blend-mode: lighten;
  }
}

@include media('<md') {
  .page-background {
    &::before {
      background-attachment: scroll;
    }
  }
}
