@font-face {
  font-family: 'Agrandir-WideLight';
  src: url('../fonts/Agrandir-WideLight.woff2') format('woff2');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Agrandir-GrandHeavy';
  src: url('../fonts/Agrandir-GrandHeavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-TextBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
