@font-face {
    font-family: 'Delight';
    src: url('../fonts/Delight-ExtraBold.woff2') format('woff2'),
        url('../fonts/Delight-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Delight';
    src: url('../fonts/Delight-Black.woff2') format('woff2'),
        url('../fonts/Delight-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Delight';
    src: url('../fonts/Delight-Bold.woff2') format('woff2'),
        url('../fonts/Delight-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Delight';
    src: url('../fonts/Delight-SemiBold.woff2') format('woff2'),
        url('../fonts/Delight-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Delight';
    src: url('../fonts/Delight-Medium.woff2') format('woff2'),
        url('../fonts/Delight-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karben';
    src: url('../fonts/Karben205Mono-Black.woff2') format('woff2'),
        url('../fonts/Karben205Mono-Black.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
