.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-left-enter-active,
.fade-left-leave-active,
.fade-right-enter-active,
.fade-right-leave-active {
  transition: .15s ease;
}

.fade-left-enter-from,
.fade-right-leave-to {
  transform: translateX(50%);
  opacity: 0;
}

.fade-left-leave-to,
.fade-right-enter-from {
  transform: translateX(-50%);
  opacity: 0;
}