/* Fonts */
.font-headline {
  font-family: var(--font-headline);
}

.headline {
  font-family: var(--font-headline);
  text-transform: uppercase;
}

.font-heavy {
  font-family: var(--font-heavy);
}

.compensate {
  position: relative;
  top: .1em;
  margin-block-end: -.1em;
}

/* Container */
.container {
  max-width: var(--container-max-width);
  margin-inline: auto;

  &.padded {
    padding: var(--site-padding);
  }

  &.padded-x {
    padding-inline: var(--site-padding);
  }

  &.padded-y {
    padding-block: var(--site-padding);
  }
}

.container-sm {
  --container-max-width: 900px;
}

.navbar-safe-area {
  padding-block-start: var(--navbar-safe-area) !important;
}

.navbar-safest-area {
  padding-block-start: var(--navbar-safest-area) !important;
}

.gap-padding {
  gap: var(--site-padding);
}

.p-site {
  padding: var(--site-padding);
}

.top-navbar {
  top: var(--navbar-safe-area);
}

.top-navbar-plus {
  top: calc(var(--navbar-safe-area) + 2rem);
}

/* Polaroid */
.polaroid {
  --card-padding: var(--spacer-4);
  background: var(--white);
  padding: var(--card-padding);
  box-shadow: var(--card-shadow);
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: var(--card-padding);

  &.with-bottom {
    padding-block-end: var(--spacer-8);
  }
}

/* Colors */
@each $name, $color in $colors {
  .color-#{$name} {
    --color: #{$color};
  }

  .text-#{$name} {
    color: $color;
  }
}

@each $name, $color in $colors {
  .bg-color-#{$name} {
    --bg-color: #{$color};
    --text-color: var(--black);
  }
}

.bg-color-black {
  --text-color: var(--white);
}

/* Font sizes */
$text-sizes: (
  'sm': var(--text-sm),
  'base': var(--text-base),
  'md': var(--text-md),
  'lg': var(--text-lg),
  'xl': var(--text-xl),
  '2xl': var(--text-2xl),
);

@each $size, $var in $text-sizes {
  .text-#{$size} {
    font-size: #{$var};
  }
}

/* Scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
