/* Fonts */
.font-headline {
  font-family: var(--font-headline);
}

.headline {
  font-family: var(--font-headline);
  text-transform: uppercase;
}

.compensate {
  position: relative;
  top: .1em;
}

/* Container */
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;

  &.padded {
    padding: var(--site-padding);
  }

  &.padded-x {
    padding: 0 var(--site-padding);
  }

  &.padded-y {
    padding: var(--site-padding) 0;
  }
}

.container-sm {
  max-width: 900px;
}

.navbar-safe-area {
  padding-block-start: var(--navbar-safe-area) !important;
}

.navbar-safest-area {
  padding-block-start: var(--navbar-safest-area) !important;
}

/* Focus */
.focus-pink {
  --focus-color: var(--pink);
}

.focus-yellow {
  --focus-color: var(--yellow);
}

/* Colors */
$colors: ('red': $red, 'yellow': $yellow, 'green': $green, 'pink': $pink, 'blue': $blue, 'white': $white, 'black': $black);

@each $name, $color in $colors {
  .color-#{$name} {
    --color: #{$color};
  }
}

@each $name, $color in $colors {
  .bg-#{$name} {
    --bg-color: #{$color};
    --text-color: var(--black);
  }
}

.bg-black {
  --text-color: var(--white);
}