/* Colors */
$red: #e0602e;
$yellow: #fad414;
$green: #099e76;
$orange: #e17625;
$pink: #e3aaca;
$blue: #3f85c1;
$purple: #6c6cac;
$black: #181818;
$white: #f7eee8;
$gray: #71717a;

/* Typography */
$font-base: Agrandir, sans-serif;
$font-headline: Agrandir-WideLight, sans-serif;
$font-heavy: Agrandir-GrandHeavy, sans-serif;

/* Breakpots */
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1980px
);

/* Sizing */
$container-max-width: 2000px;
$navbar-safe-area: 4rem;

/* Util variables */
$colors: (
  'red': $red,
  'yellow': $yellow,
  'green': $green,
  'orange': $orange,
  'pink': $pink,
  'blue': $blue,
  'purple': $purple,
  'white': $white,
  'black': $black
);
